:root {
  --drawerWidth: 240px;
}

.container {
  display: flex;
}

.drawerPaper {
  width: var(--drawerWidth);
}

.main {
  width: 100%;
}

.content {
  margin: 0.6em;
}

@media (min-width: 600px) {
  .drawer {
    width: var(--drawerWidth);
    flex-shrink: 0;
  }

  .main {
    width: calc(100% - (var(--drawerWidth)));
  }
}
