.gridContainer {
  margin-bottom: 1em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  min-height: 4em;
  justify-content: center;
}

.gridContainer ul {
  overflow: hidden;
  justify-content: center;
}

@media (min-width: 600px) {
  .gridContainer ul {
    justify-content: flex-start;
  }
}
